<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>
    <div class="wrapper">
      <div id="button_area">

          <div id="logo_area">
              <span>Logo</span>
              <div class="dot"></div>
          </div>

          <div id="bottom_area">
              <button class="custom-btn btn-5"><span>Rate Class</span></button>
              <button class="custom-btn btn-5"><span>Write Class</span></button>
          </div>
      </div>
    </div>
</body>
</html>