<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/main.css'%}">
</head>
<body>
    <div class="wrapper">
      <div id="button_area">

          <div id="logo_area">
              <span>Rate My Class</span>
              <div class="dot"></div>
          </div>

          <div id="bottom_area">
              <form action="/rate/list/" method="POST" id="rateList">
                  {% csrf_token %}
                  <input name="page" type="hidden" value="1" />
                  <input name="categoryId" type="hidden" value="" />
                  <input name="subcategoryId" type="hidden" value="" />
                  <input name="sort" type="hidden" value="A" />
                  <input name="pk" type="hidden" value="" />
              </form>
              <button class="custom-btn btn-5" id="gotoList"><span>View Comments</span></button>
              <button class="custom-btn btn-5" id="gotoWrite"><span>Write Comments</span></button>
          </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script>
        $(function (){
             $('#gotoList').click(function (){
                 $('#rateList').submit();
             });

             $('#gotoWrite').click(function (){
                 $('#rateList').attr("action","/rate/write/");
                 $('#rateList').submit();
             });
        });
    </script>
</body>
</html>
