<!DOCTYPE html>
{% load static      %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Comment List</title>
    <link rel="stylesheet" href="{% static 'css/rate_list.css'%}">
</head>
<body>
    <div class="container">
        <div class="logo">
            <span class="logText">
               Comment List
            </span>
        </div>
        <div class="content">
            <div class="search">
                <form action="/rate/write_data/" method="POST" id="dataWrite">
                    {% csrf_token %}
                    <table>
                        <colgroup>
                            <col style="width: 112px">
                            <col style="width: 250px">
                            <col style="width: 112px">
                            <col style="width: 250px">
                            <col style="width: 200px">
                            <col style="width: 100px">
                        </colgroup>
                        <tr>
                            <th>Disclipline</th>
                            <td>
                                <select name="categoryId" id="category">
                                    {% for category in category_list%}
                                        {% if categoryId == category.id %}
                                            <option value="{{category.id}}" selected>{{category.category_name}}</option>
                                        {% else %}
                                            <option value="{{category.id}}">{{category.category_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <th>Course</th>
                            <td>
                                <select name="subcategoryId" id="subcategory">
                                    {% for subcategory in subcategory_list%}
                                        {% if subcategoryId == subcategory.id %}
                                            <option value="{{subcategory.id}}" selected>{{subcategory.subcategory_name}}</option>
                                        {% else %}
                                            <option value="{{subcategory.id}}">{{subcategory.subcategory_name}}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </td>
                            <td>
                                {% if sort == 'A' %}
                                    <input type="radio" value="A" name="sort" id="sortAsending" checked>
                                {% else %}
                                     <input type="radio" value="A" name="sort" id="sortAsending">
                                {% endif %}
                                    <label for="sortAsending">Latest</label>

                                {% if sort == 'D' %}
                                    <input type="radio" value="D" name="sort" id="sortDescending" checked>
                                {% else %}
                                     <input type="radio" value="D" name="sort" id="sortDescending">
                                {% endif %}
                                     <label for="sortDescending">Old</label>
                            </td>
                            <td>
                                <button type="button" value="Search" id="Search">Search</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
             <table id="contentList">
                 <colgroup>
                    <col style="width: 112px">
                    <col style="width: 230px">
                    <col style="width: 112px">
                    <col style="width: 230px">
                    <col style="width: 112px">
                    <col style="width: 228px">
                 </colgroup>
                 {% if content_list %}
                    {% for content in page_obj%}
                        <tbody class="itemSelected" >
                            <input type="hidden" value="{{content.pk}}"/>
                             <tr>
                                 <td colspan="6" style="height: 10px;"></td>
                             </tr>
                             <tr>
                                 <td colspan="6" style="height: 1px;background: black;"></td>
                             </tr>
                            <tr>
                                <th>Discipline</th>
                                <td>{{content.category.category_name}}</td>
                                <th>Course</th>
                                <td>{{content.subcategory.subcategory_name}}</td>
                                <th>Write Date</th>
                                <td>{{content.create_date}}</td>
                            </tr>
                             <tr>
                                  <th rowspan="2">Rates</th>
                                  <td colspan="5">
                                      <div class="starpoint">workload<br>(daily HW)</div>
                                      <div class="starpoint">Test Frequency</div>
                                      <div class="starpoint"><p>Strictness
                                            <span style="font-size: 0.8em"><br>(instructor, deadline, etc)</span></p></div>
                                      <div class="starpoint">Engagingness</div>
                                      <div class="starpoint" style="font-size: 0.9em">Prep For Standardized <br> Test(AP)</div>
                                      <div class="starpoint">Use of Tech</div>
                                  </td>
                             </tr>
                             <tr>
                                 <td colspan="5">
                                    <div class="starpointbottom">
                                       <span class="star">
                                              ★★★★★
                                          <span id="satr01" style="width: {{content.getPoint01}}%">★★★★★</span>
                                       </span>
                                    </div>
                                    <div class="starpointbottom">
                                        <span class="star">
                                          ★★★★★
                                             <span id="satr01" style="width: {{content.getPoint02}}%">★★★★★</span>
                                        </span>
                                    </div>
                                    <div class="starpointbottom">
                                        <span class="star">
                                          ★★★★★
                                             <span id="satr01" style="width: {{content.getPoint03}}%">★★★★★</span>
                                        </span>
                                    </div>
                                    <div class="starpointbottom">
                                        <span class="star">
                                          ★★★★★
                                             <span id="satr01" style="width: {{content.getPoint04}}%">★★★★★</span>
                                        </span>
                                    </div>
                                    <div class="starpointbottom">
                                        <span class="star">
                                          ★★★★★
                                             <span id="satr01" style="width: {{content.getPoint05}}%">★★★★★</span>
                                        </span>
                                    </div>
                                    <div class="starpointbottom">
                                        <span class="star">
                                          ★★★★★
                                             <span id="satr01" style="width: {{content.getPoint06}}%">★★★★★</span>
                                        </span>
                                    </div>
                                </td>
                             </tr>
                             <tr>
                                <td colspan="6" style="text-align: left;font-family:GyeonggiBatang ;">
                                    <span id="strcontents" >
                                    {{content.contents}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                     {% endfor %}
                 {% else %}
                    <tr>
                        <td colspan="6">데이터가 존재하지 않습니다!</td>
                    </tr>
                 {% endif %}
            </table>
            <div class = "pageList">
                <button type="button" value="goHome" id="goHome" style="float: right;margin-right: 5px;" >Home</button>
                <button type="button" value="writeData" id="writeData" style="float: right;margin-right: 5px;" >Write</button>
                <ul style="list-style: none;text-align: center;margin: 0 auto;" id="pageNumber">
                    {% for page in custom_range %}
                        <li style="margin:5px;cursor: pointer;text-align: center;display:inline-block;" value="{{page}}">
                            {% if page == page_obj.number %}
                                <span style="text-decoration: none;color: red">
                                    {{page}}
                                </span>
                            {% else %}
                                <span style="text-decoration: none;color: black">
                                    {{page}}
                                </span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            </div>
            <div style="display: none">
                 <form action="/rate/list/" method="POST" id="rateList">
                      {% csrf_token %}
                     <input name="page" type="hidden" value="{{page}}" id="currentPage"/>
                     <input name="categoryId"  id="categoryId" type="hidden" value="{{categoryId}}" />
                     <input name="subcategoryId"  id="subcategoryId" type="hidden" value="{{subcategoryId}}" />
                     <input name="pk" type="hidden" value="" id="pk"/>
                     <input name="sort" type="hidden" value="{{sort}}" id="sort"/>
                  </form>
            </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="{% static 'js/rate_list.js'%}"></script>
</body>
</html>
