@font-face {
    font-family: 'SDSamliphopangche_Outline';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts-20-12@1.0/SDSamliphopangche_Outline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GyeonggiBatang';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiBatang.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

th{
    font-family:SDSamliphopangche_Outline ;
}

.myContents{
    font-family:GyeonggiBatang ;
    font-size: medium;
}

body {
    margin: 0;
    height: 100%;
    background-color: #FFFFFF;
    background-image: url("../img/list.jpg");
}
.container {
    /*border: 1px solid red;*/
    width: 100%;
    height: 100%;

}

.logo {
    /*border: 1px solid blue;*/
    width: 1024px;
    height: 50px;
    margin: 10px auto 10px;
    background-color: #17244d;
    color: white;
    display:table;
    table-layout:fixed;
}

 .logText {
     display:table-cell;
     vertical-align:middle;
     text-align: center;
  }

 .search{
     border: 1px solid black;
 }

tbody:hover {
    background: #EEEEEE;
    border: 1px solid red;
    cursor: pointer;
}

.content {
    /*border: 1px solid blue;*/
    width: 1024px;
    /*height: 600px;*/
    margin: 10px auto ;
    background-color: #FFFFFF;
}

.content table{
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 2px;
}

.content table th{
    background: #2b2b85;
    color: #fff;
}

.content table th, td{
    height: 30px;
    text-align: center;
}

select {
    width: 240px;
    padding: .4em .1em .4em .5em;
    border: 1px solid #999;
    font-family: inherit;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
    border-radius: 0px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#category,#subcategory {
    float: left;
}

button {
  padding: .4em .1em .4em .5em;
  width: 100px;
  cursor: pointer;
}


#contentList th{
    background: #999;
    color: #fff;
}

#contentList th, td{
    height: 30px;
    text-align: center;
}

.starpoint{
    display: flex;
    width: 145px;
    height : 50px;
    border: 1px solid darkslategray;
    float: left;
    margin-left: 2px;
    align-items: center;
    justify-content: center;
}

.starpointbottom{
    display: flex;
    width: 145px;
    height : 50px;
    float: left;
    margin-left: 2px;
    align-items: center;
    justify-content: center;
}

.star {
    position: relative;
    font-size: 1rem;
    color: #ddd;
  }

  .star input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    cursor: pointer;
  }

  .star span {
    width: 0;
    position: absolute;
    left: 0;
    color: red;
    overflow: hidden;
    pointer-events: none;
  }

  #strcontents{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
  }

.pageList{
    border-top: 2px solid black;
    margin: 10px auto ;
    background-color: #FFFFFF;
    padding: 5px;
}